doctype html
html
  head
    title html table to csv
    link(rel='stylesheet', href='/css/index.css')
  body
    input.urlInput(type='text')
    button.urlSubmit(type='button') 点击确认

    div.tableWrapper

    script(src='//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js')
    script(src='/js/export-table.js')
    script(src='/js/table-to-array.js')
    script(src='/js/index.js')
